/**
 * @file
 * Styles for Newsplus Lite's layout.
 */

#header-top {
  border-bottom: 1px solid #ffffff;
}
.region-header-top-left,
.region-header-top-right {
  padding-top: 45px;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .region-header-top-left,
  .region-header-top-right {
    padding-top: 5px;
  }
}
#header {
  border-bottom: 6px solid;
  z-index: 499;
  position: relative;
}
#header-inside-right {
  padding-top: 13px;
}
@media (max-width: 767px) {
  #header-inside-right {
    margin-right: 40px;
  }
}
#page-intro > .container {
  background-color: #fff;
  z-index: 440;
}
#page-intro-inside {
  position: relative;
  margin: 0 -15px;
}
#page > .container {
  border-bottom: 6px solid #e5e5e5;
  z-index: 440;
}
#page > .container {
  background-color: #fff;
}
#page-inside {
  padding-bottom: 30px;
}
#top-content {
  padding: 20px 0 0 0;
}
#top-content #slideshow {
  margin-right: -15px;
  margin-left: -15px;
}
#top-content + #main-content {
  padding-top: 10px;
}
.front #banner #slideshow {
  margin-top: 10px;
}
#main-content {
  padding-top: 45px;
}
#main-content > .row {
  overflow: hidden;
}
#highlighted {
  background-color: #f8f8f8;
  border-bottom: 6px solid #e4e4e4;
  padding-bottom: 0;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
#footer {
  border-bottom: 6px solid #dadada;
  padding-top: 50px;
  padding-bottom: 25px;
}
#subfooter {
  padding-top: 15px;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .no-sidebars #highlighted {
    margin-left: -28.6%;
    margin-right: -28.6%;
    padding-left: 28.6%;
    padding-right: 28.6%;
  }
  .layout-sidebar-second #highlighted,
  .layout-sidebar-second #banner {
    margin-left: -15px;
  }
  .layout-sidebar-first #highlighted,
  .layout-sidebar-first  #banner {
    margin-right: -15px;
  }
  .not-front.layout-sidebar-second #highlighted {
    margin-left: -17.8%;
    padding-left: 17.8%;
  }
  .not-front.layout-sidebar-first #highlighted {
    margin-right: -17.8%;
    padding-right: 17.8%;
  }
  .not-front.layout-sidebar-second #banner {
    margin-left: -17.8%;
  }
  .not-front.layout-sidebar-first #banner {
    margin-right: -17.8%;
  }
}
@media (max-width: 991px) {
  #highlighted,
  #banner {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (max-width: 767px) {
  #header-top {
    padding-top: 10px;
  }

  /* Header Mobile Layout */
  #header-inside {
    position: relative;
  }
  #header-inside.mean-container {
    padding-right: 40px;
  }
  #header-inside.mean-container #header-top-left,
  #header-top-inside.mean-container #header-top-right {
    z-index: 13;
    position: relative;
  }
  #header-inside.mean-container .mean-bar {
    position: absolute;
    top: 5px;
  }
  #header-inside.mean-container .dropdown.search-bar .dropdown-menu {
    margin-right: -40px;
  }

  /* Fixed header position */
  #header {
    top: auto;
  }
  #page,
  #page-intro {
    margin-top: 0!important;
  }
}

/* Regions */
.colored-area {
  color: #fff;
}
.colored-area a {
  color: #fff;
  text-decoration: underline;
}
.colored-area a:hover,
.colored-area a:active,
.colored-area a:focus {
  color: #fff;
  text-decoration: none;
}
.footer-area {
  font-size: 14px;
  line-height: 1.57;
  color: #464646;
}
.subfooter-area {
  font-size: 13px;
}
.subfooter-area p {
  padding-bottom: 5px;
}
@media (max-width: 991px) {
  .subfooter-area { text-align: center; }
}
