/**
 * @file
 * Table drag behavior for off-canvas dialog.
 *
 * @see tabledrag.js
 */

#drupal-off-canvas:not(.drupal-off-canvas-reset) .drag,
#drupal-off-canvas-wrapper .drag {
  cursor: move;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) tr.region-title,
#drupal-off-canvas-wrapper tr.region-title {
  font-weight: normal;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) table .region-message,
#drupal-off-canvas-wrapper table .region-message {
  color: #fff;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) table .region-populated,
#drupal-off-canvas-wrapper table .region-populated {
  display: none;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .add-new .tabledrag-change,
#drupal-off-canvas-wrapper .add-new .tabledrag-changed {
  display: none;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .draggable a.tabledrag-handle,
#drupal-off-canvas-wrapper .draggable a.tabledrag-handle {
  float: left; /* LTR */
  overflow: hidden;
  min-width: 20px;
  height: auto;
  margin: 0 5px 0 0;
  padding: 0;
  cursor: move;
  text-decoration: none;
  background-image: none;
}
[dir="rtl"] #drupal-off-canvas:not(.drupal-off-canvas-reset) .draggable a.tabledrag-handle,
[dir="rtl"] #drupal-off-canvas-wrapper .draggable a.tabledrag-handle {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) a.tabledrag-handle .handle,
#drupal-off-canvas-wrapper a.tabledrag-handle .handle {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
  /* Use lighter drag icon against dark background. */
  background-image: url(../../../images/core/icons/bebebe/move.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .draggable a.tabledrag-handle:hover .handle,
#drupal-off-canvas-wrapper .draggable a.tabledrag-handle:hover .handle,
#drupal-off-canvas:not(.drupal-off-canvas-reset) .draggable a.tabledrag-handle:focus .handle,
#drupal-off-canvas-wrapper .draggable a.tabledrag-handle:focus .handle {
  text-decoration: none;
  background-image: url(../../../images/core/icons/787878/move.svg);
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) tr td,
#drupal-off-canvas-wrapper tr td {
  transition: background 0.3s ease;
}

#drupal-off-canvas:not(.drupal-off-canvas-reset) tr td abbr,
#drupal-off-canvas-wrapper tr td abbr {
  margin-left: 5px; /* LTR */
}

[dir="rtl"] #drupal-off-canvas:not(.drupal-off-canvas-reset) tr td abbr,
#drupal-off-canvas-wrapper tr td abbr {
  margin-right: 5px;
  margin-left: 0;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) tr:hover td,
#drupal-off-canvas-wrapper tr:hover td {
  background: #222;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) tr.drag td,
#drupal-off-canvas-wrapper tr.drag td {
  background: #111;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) tr.drag-previous td,
#drupal-off-canvas-wrapper tr.drag-previous td {
  background: #000;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) tr.drag-previous:hover td,
#drupal-off-canvas-wrapper tr.drag-previous:hover td {
  background: #222;
}
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
  font-size: 14px;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .touchevents .draggable td,
#drupal-off-canvas-wrapper .touchevents .draggable td {
  padding: 0 10px;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .touchevents .draggable .menu-item__link,
#drupal-off-canvas-wrapper .touchevents .draggable .menu-item__link {
  display: inline-block;
  padding: 10px 0;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .touchevents a.tabledrag-handle,
#drupal-off-canvas-wrapper .touchevents a.tabledrag-handle {
  width: 40px;
  height: 44px;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .touchevents a.tabledrag-handle .handle,
#drupal-off-canvas-wrapper .touchevents a.tabledrag-handle .handle {
  height: 21px;
  background-position: 40% 19px; /* LTR */
}
[dir="rtl"] #drupal-off-canvas:not(.drupal-off-canvas-reset) .touch a.tabledrag-handle .handle,
[dir="rtl"] #drupal-off-canvas-wrapper .touch a.tabledrag-handle .handle {
  background-position: right 40% top 19px;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .touchevents .draggable.drag a.tabledrag-handle .handle,
#drupal-off-canvas-wrapper .touchevents .draggable.drag a.tabledrag-handle .handle {
  background-position: 50% -32px;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .tabledrag-toggle-weight-wrapper,
#drupal-off-canvas-wrapper .tabledrag-toggle-weight-wrapper {
  padding-top: 10px;
  text-align: right; /* LTR */
}
[dir="rtl"] #drupal-off-canvas:not(.drupal-off-canvas-reset) .tabledrag-toggle-weight-wrapper,
#drupal-off-canvas-wrapper .tabledrag-toggle-weight-wrapper {
  text-align: left;
}
#drupal-off-canvas:not(.drupal-off-canvas-reset) .indentation,
#drupal-off-canvas-wrapper .indentation {
  float: left; /* LTR */
  width: auto;
  height: auto;
  margin: 0 3px 0 -10px; /* LTR */
  padding: 0 0 0 10px; /* LTR */
}
[dir="rtl"] #drupal-off-canvas:not(.drupal-off-canvas-reset) .indentation,
[dir="rtl"] #drupal-off-canvas-wrapper .indentation {
  float: right;
  margin: 0 -10px 0 3px;
  padding: 0 10px 0 0;
}
