/**
 * @file
 * Visual styles for Newsplus Lite's teaser listing pages.
 */

.view-taxonomy-term .views-row,
.view-frontpage .views-row {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 35px;
}
.view-taxonomy-term .node--view-mode-teaser .field--name-field-image,
.view-frontpage .node--view-mode-teaser .field--name-field-image {
  float: right;
  margin-left: 30px;
  margin-bottom: 15px;
  max-width: 190px;
}

 /* styles to prevent image wrap */
.view-taxonomy-term .with-image,
.view-frontpage .with-image {
  margin-right: 220px;
}
@media (min-width: 1200px) {
  .view-taxonomy-term .node--view-mode-teaser .field--name-field-image,
  .view-frontpage .node--view-mode-teaser .field--name-field-image {
    margin-left: 68px;
    max-width: 275px;
  }

   /* styles to prevent image wrap */
  .view-taxonomy-term .with-image,
  .view-frontpage .with-image {
    margin-right: 343px;
  }
}
@media (min-width: 992px) {
  .two-sidebars .view-taxonomy-term .field--name-field-image,
  .two-sidebars .view-frontpage .field--name-field-image {
    max-width: 190px;
    margin-left: 25px;
  }

   /* styles to prevent image wrap */
  .two-sidebars .view-taxonomy-term .with-image,
  .two-sidebars .view-frontpage .with-image {
    margin-right: 215px;
  }
}
@media (max-width: 480px) {
  .view-taxonomy-term .field--name-field-image,
  .view-frontpage .field--name-field-image {
    float: left;
    margin-left: 0;
    max-width: 100%;
    margin-right: 0!important;
  }

   /* styles to prevent image wrap */
  .view-taxonomy-term .with-image,
  .view-frontpage .with-image {
    margin-right: 0;
    clear: both;
  }
}
.view-taxonomy-term .node--view-mode-teaser h2.node__title,
.view-frontpage .node--view-mode-teaser h2.node__title {
  margin-bottom: 5px;
}
.view-feed .views-field-body {
  margin-top: 5px;
}
.view-feed .views-field-view-node {
  clear: both;
}
