/* Scroll to top */
#toTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  color: #ea2d49;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 100;
  display: none;
}
#toTop i {
  font-size: 56px;
}