/*Superfish Support*/
#main-navigation .sf-menu ul { background-color: #ea2d49; background-color: rgba(234,45,73,0.9); display: none; top:100%; }
#pre-header .sf-menu ul,
#header-top .sf-menu ul { background-color: #c0273c; background-color: rgba(192,39,60,0.9); display: none; top:100%; }

#main-navigation .sf-menu>li>a.menuparent,
#pre-header .sf-menu>li>a.menuparent,
#header-top .sf-menu>li>a.menuparent { padding-right: 30px; }

#main-navigation .sf-menu>li>ul,
#pre-header .sf-menu>li>ul,
#header-top .sf-menu>li>ul { right: 0!important; }

#main-navigation .sf-menu>li.sfHover>a { background-color: #ea2d49; }
#pre-header .sf-menu>li.sfHover>a, #pre-header ul.menu li a:hover,
#header-top .sf-menu>li.sfHover>a, #header-top ul.menu li a:hover { background-color: #c0273c; }

#main-navigation .sf-menu ul li a { padding: 10px 15px; font-size: 16px; }
#pre-header .sf-menu ul li a,
#header-top .sf-menu ul li a { padding: 10px 15px; font-size: 14px; }

#main-navigation .sf-menu ul li.sfHover>a, #main-navigation .sf-menu ul li a:hover { background-color: #c0273c; }
#pre-header .sf-menu ul li.sfHover>a, #pre-header .sf-menu ul li a:hover,
#header-top .sf-menu ul li.sfHover>a, #header-top .sf-menu ul li a:hover  { background-color: #b00711; }

#main-navigation .sf-menu ul ul,
#pre-header .sf-menu ul ul,
#header-top .sf-menu ul ul { top:0; }

/*superfish menu arrows*/
#main-navigation ul.sf-menu li a.menuparent:after,
#pre-header ul.sf-menu li a.menuparent:after,
#header-top ul.sf-menu li a.menuparent:after { content: "\f107"; font-family: 'FontAwesome'; position: absolute;
top: 17px; right: 16px; font-size: 12px; font-weight: 400; line-height: 20px; -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

#pre-header ul.sf-menu li a.menuparent:after,
#header-top ul.sf-menu li a.menuparent:after { top: 12px; }

#main-navigation ul.sf-menu ul li a.menuparent:after { content: "\f105"; right: 10px; top: 12px; }
#pre-header ul.sf-menu ul li a.menuparent:after,
#header-top ul.sf-menu ul li a.menuparent:after { content: "\f105"; right: 10px; top: 11px; }

/*responsive multilevel menu*/
.mean-container .sf-menu { display: none!important; height: 0!important; }

.mean-container .meanmenu-wrapper { display: none!important; height: 0!important; }

.mean-container .mean-bar { background: transparent; z-index: 11; padding: 0; }

.mean-container a.meanmenu-reveal { color: #fff; font-size: 18px; text-indent: 0; padding: 13px 0 13px; }

.mean-container a.meanmenu-reveal span { background: #fff; }

.mean-container a.meanmenu-reveal.meanclose:after { font-family: "FontAwesome"; content: "\f00d"; font-size: 22px; font-weight: 400; }

.mean-container .mean-nav { position: absolute; background-color: #ea2d49; background-color: rgba(234,45,73,0.9); margin-top: 50px; }

.mean-container .mean-nav ul { width: 100%!important; }

.mean-container .mean-nav ul * { float: left!important; }

.mean-container .mean-nav ul li a { border-bottom: 1px solid #fff; text-transform: none; border-top: none; line-height: 21px; text-decoration: none; font-size: 16px; }

.mean-container .mean-nav ul li a:hover { background-color: #c0273c; }

.mean-container .mean-nav ul li a.mean-expand { border-left: 1px solid #fff !important; margin-top:0; border-bottom: none!important; height: 29px;
width: 29px!important; background-color: #ea2d49;  background-color: rgba(234,45,73,0.9);
line-height: 29px; font-family: 'Lato', Helvetica Neue, Arial, Sans-serif; }

.mean-container .mean-nav ul li a.mean-expand:hover { background-color: #c0273c; }

.mean-container .mean-nav ul li li a.mean-expand { height: 30px; }

.mean-container .mean-nav ul li li a { opacity: 1; filter: alpha(opacity=100); width: 80%!important; border-top: 1px solid #ea2d49; }

.mean-container .mean-nav ul li li a:hover { border-top: 1px solid #c0273c; }

.mean-container .mean-nav ul li li li a { width: 70%!important; }

.mean-container .mean-nav ul li li li li a { width: 60%!important; }

.mean-container .mean-nav ul li li li li li a {	width: 50%!important; }

#pre-header-inside.mean-container .mean-bar,
#header-top-inside.mean-container .mean-bar { z-index: 22; }

#pre-header-inside.mean-container .mean-nav,
#header-top-inside.mean-container .mean-nav { background-color: #c0273c; background-color: rgba(192,39,60,0.9); }

#pre-header-inside.mean-container .mean-nav ul li a:hover,
#header-top-inside.mean-container .mean-nav ul li a:hover { background-color: #b00711; }

#pre-header-inside.mean-container .mean-nav ul li a.mean-expand,
#header-top-inside.mean-container .mean-nav ul li a.mean-expand { background-color: #c0273c;  background-color: rgba(192,39,60,0.9); }

#pre-header-inside.mean-container .mean-nav ul li a.mean-expand:hover,
#header-top-inside.mean-container .mean-nav ul li a.mean-expand:hover { background-color: #b00711; }

#pre-header-inside.mean-container .mean-nav ul li li a,
#header-top-inside.mean-container .mean-nav ul li li a { border-top: 1px solid #c0273c; }

#pre-header-inside.mean-container .mean-nav ul li li a:hover,
#header-top-inside.mean-container .mean-nav ul li li a:hover { border-top: 1px solid #b00711; }

/*Node navigation*/
.node-navigation { text-align: center; position: relative; }

.node-navigation .col-xs-6 { position: static; }

.prev-node, .next-node { position: relative; z-index: 2; }

.node-navigation .text { font-size: 11px; position: absolute; top: 10px; z-index: -1; width: 100%; }

.prev-node a, .next-node a { padding: 25px 80px 15px; z-index: 3; font-size: 15px; display: block; color: #000; }

.prev-node a:hover, .next-node a:hover,
.node-navigation div:hover > .fa-angle-left, .node-navigation div:hover > .fa-angle-right { color: #ea2d49; text-decoration: none; }

.node-navigation .fa { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.node-navigation .fa-angle-left { font-size: 56px; position: absolute; left: 15px; top: 50%; margin-top: -29px; line-height: 1; z-index: 1; }

.node-navigation .fa-angle-right { font-size: 56px; position: absolute; right: 15px; top: 50%; margin-top: -29px; line-height: 1; z-index: 1; }

.prev-node a:before { content: ""; position: absolute; height: 88%; width: 1px; background-color: #d7d7d7; margin: 5px 0; top: 0; right: -15px; }

.prev-node.last-article a:before { background-color: transparent; }

@media (max-width: 1199px) {
	.prev-node a, .next-node a { padding: 25px 50px 15px; }
}

@media (max-width: 991px) {
	.prev-node .text { padding: 0 0 0 30px; }
	.prev-node a { padding: 25px 0 15px 30px; }
	.next-node .text { padding: 0 30px 0 0; }
	.next-node a { padding: 25px 30px 15px 0; }
}

@media (max-width: 767px) {
	.node-navigation .text { top: 15px; }
	.prev-node a { padding: 35px 0 15px 25px; }
	.next-node a { padding: 35px 25px 15px 0; }
	.node-navigation .fa-angle-left { font-size: 36px; margin-top: -18px; }
	.node-navigation .fa-angle-right { font-size: 36px; margin-top: -18px; }
}

/*User page*/
.page-user .profile { background-color: #f8f8f8; border-bottom: 6px solid #e4e4e4; padding: 35px 0 15px; padding-right: 15px; padding-left: 15px; }

.page-user .profile .photo-wrapper { float: left; margin-right: 30px; max-width: 190px; }

.page-user .profile .user-picture { margin: 0 0 20px 0; }

.field-name-field-mt-about .field-label { font-size: 20px; font-weight: 700; margin-bottom: 15px; }

/*styles to prevent image wrap*/
.with-user-image .field-name-field-mt-about { margin-left: 220px; }

@media (min-width: 1200px) {
	/*styles to prevent image wrap*/
	.page-user .profile .photo-wrapper { margin-right: 68px; max-width: 275px; }
	.with-user-image .field-name-field-mt-about { margin-left: 341px; }
}

@media (min-width: 992px) {
	.no-sidebars.page-user .profile { margin-right: -28.6%; margin-left: -28.6%; padding-left: 28.6%; padding-right: 28.6%; }
	.sidebar-second.page-user .profile { margin-left: -17.8%; padding-left: 17.8%; }
	.sidebar-first.page-user .profile { margin-right: -17.8%; padding-right: 17.8%; }
	/*styles to prevent image wrap*/
	.two-sidebars.page-user .profile .photo-wrapper { margin-right: 25px; max-width: 190px; }
	.two-sidebars.page-user .profile .with-user-image .field-name-field-mt-about { margin-left: 215px; }
}

@media (max-width: 991px) {
	.page-user .profile { margin-right: -15px; margin-left: -15px; }
}

@media (max-width: 480px) {
	.page-user .profile .photo-wrapper, .page-user .profile .user-picture { float: none; max-width: 100%; margin-right: 0; }
	.with-user-image .field-name-field-mt-about { clear: both; margin-left: 0; }
	.field-name-field-mt-about .field-label { margin-top: 10px; }
}

/*Polls*/
.poll .vote-form { text-align: left; }

.poll .vote-form .choices { display: block; }

.block-poll ul.links { padding: 0; list-style: none; margin-top: 20px; }

.block-poll ul.links li { display: inline-block; }

/*views*/
.views-field-title a { font-size: 14px; font-weight: 700; line-height: 1.42; color: #3f3f3f; display: block; }

.views-field-title a:hover { color: #ea2d49; }

.views-field-field-mt-post-categories a { font-size: 13px; text-transform: uppercase; background-color: #7d7d7d; padding: 2px 10px; display: inline-block;
color: #fff; }

.views-field-field-mt-post-categories a:hover { background-color: #ea2d49; color: #fff; text-decoration: none; }

.views-field-created { font-size: 11px; color: #7d7d7d; margin-bottom: 10px; }

/*Views row clear*/
@media (max-width: 767px) {
.views-row.col-xs-6:nth-child(2n+1),
.views-row.col-xs-4:nth-child(3n+1),
.views-row.col-xs-3:nth-child(4n+1) { clear:both; }
}

@media (min-width: 768px) and (max-width: 991px) {
.views-row.col-sm-6:nth-child(2n+1),
.views-row.col-sm-4:nth-child(3n+1),
.views-row.col-sm-3:nth-child(4n+1) { clear:both; }
}

@media (min-width: 992px) {
.views-row.col-md-6:nth-child(2n+1),
.views-row.col-md-4:nth-child(3n+1),
.views-row.col-md-3:nth-child(4n+1) { clear:both; }
}

/*clear grid floats*/
.view.row .view-content:before, .view.row .view-content:after { display: table; content: " "; }
.view.row .view-content:after { clear: both; }

/*Breaking News view*/
#top-content .view-titles { margin-top: 20px; }

.view-titles { overflow: hidden; position: relative; }

.view-titles .view-content { background-color: #f2f2f2; border-bottom: 6px solid #dadada; margin-left: 160px; display: none; }

.view-titles .more-link { position: absolute; top: 0; left: 0; display: none; }

.view-titles .more-link a {  background-color: #ea2d49; color: #fff; font-size: 16px; margin: 0; min-width: 160px; text-transform: uppercase;
border-bottom: 6px solid rgba(192,39,60,0.65); display: inline-block; padding: 12px 15px 7px; font-weight: 400; line-height: 1; min-height: 41px; }

.view-titles .more-link a:after { content: ""; }

.view-titles:after { position: absolute; content: "\f101"; font-family: "FontAwesome"; font-size: 26px; right: 10px; color: #ea2d49; top: 3px; z-index: 1; }

.view-titles .flexslider { background-color: transparent; }

.view-titles .views-field-title a { font-size: 15px; font-weight: 400; padding: 10px 40px 5px 30px; position: relative; text-decoration: none; z-index: 2;
line-height: 20px; }

@media (max-width: 991px) {
	.view-titles .view-content { margin-left: 150px; }
	.view-titles .more-link a { padding: 11px 15px 5px; }
}

@media (max-width: 767px) {
	.view-titles .view-content { margin-left: 0; margin-top: 40px; }
	.view-titles .views-field-title a { padding: 11px 40px 7px 25px; min-height: 0; }
	.view-titles .more-link { width: 100%; }
	.view-titles .more-link a {  border-bottom: none!important; padding: 11px 15px 11px; display: block; width: 100%; line-height: 1.2;}
	.view-titles:after { top: 42px; }
}

@media (min-width: 481px) and (max-width: 767px ) {
	.view-titles .view-content { margin-top: 38px; }
}

/*What's hot view*/
.view-highlighted-objects .views-row { margin-bottom: 30px; }

.view-highlighted-objects .views-field-field-image { margin-bottom: 15px; }

.view-highlighted-objects .content-wapper { position: relative; }

.view-highlighted-objects .content-wapper.with-image .views-field-field-mt-post-categories { position: absolute; top:0; left: 0; z-index: 3; }

.view-highlighted-objects .views-field-field-mt-post-categories { margin-bottom: 10px; }

.view-highlighted-objects .views-field-title a { font-size: 20px; margin-bottom: 5px; }

.view-highlighted-objects .views-field-name { font-size: 12px; color: #7d7d7d; }

/*Most Popular view*/
.view-popular-objects .views-row { margin-bottom: 10px; border: 1px solid #dddddd; -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.view-popular-objects .views-row:hover { border-color: #ea2d49; }

.view-popular-objects .views-field-field-image { margin-bottom: 15px; border: none; }

.view-popular-objects .views-field-title a { font-size: 18px; font-weight: 400; margin-bottom: 15px; }

.view-popular-objects .views-field-title, .view-popular-objects .views-field-field-mt-post-categories { padding: 0 45px 0 60px; }

.view-popular-objects .views-row:hover .views-field-field-mt-post-categories a { background-color: #ea2d49; }

@media (min-width: 992px) {
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-popular-objects .views-field-title,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-popular-objects .views-field-field-mt-post-categories { padding: 0 10px; }
}

/*View Latest posts block*/
.view-latest-objects .views-row { margin-bottom: 15px; border-bottom: 1px solid #dddddd; }

.view-latest-objects.row .views-row { border-bottom: none; margin-bottom: 10px; }

.view-latest-objects .views-row-last { border-bottom: none; }

.view-latest-objects .views-field-field-image { float: left; margin: 0 20px 15px 0; max-width: 140px; }

.view-latest-objects .views-field-body p { padding-bottom: 5px; }

.view-latest-objects .views-field-commerce-price { margin-bottom: 10px; }

.view-latest-objects .views-field-title a { margin-bottom: 15px; }

.view-latest-objects .with-image .views-field-title, .view-latest-objects .with-image .views-field-created,
.view-latest-objects .with-image .views-field-body, .view-latest-objects .with-image .views-field-commerce-price { margin-left: 160px; }

@media (min-width: 992px) {
	/*layout 3-6-3*/
	.two-sidebars.wide-sidebar .sidebar .view-latest-objects .views-field-field-image { max-width: 90px; }
	.two-sidebars.wide-sidebar .sidebar .view-latest-objects .with-image .views-field-title,
	.two-sidebars.wide-sidebar .sidebar .view-latest-objects .with-image .views-field-created,
	.two-sidebars.wide-sidebar .sidebar .view-latest-objects .with-image .views-field-body,
	.two-sidebars.wide-sidebar .sidebar .view-latest-objects .with-image .views-field-commerce-price { margin-left: 110px; }

	/*layout 2-6-4 & 4-6-2*/
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-latest-objects .views-field-field-image { float: none; max-width: 100%; margin-bottom: 15px; overflow: hidden; margin-right: 0; }
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-latest-objects .with-image .views-field-title,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-latest-objects .with-image .views-field-created,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-latest-objects .with-image .views-field-body,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-latest-objects .views-field-commerce-price { margin-left: 0; }
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .view-latest-objects .with-image .views-field-title a { margin-bottom: 0; }
}

/*Products view*/
.view-masonry .views-row { margin-bottom: 40px; }

.view-masonry .views-field-field-image { margin-bottom: 10px; }

.view-masonry .views-field-body p { padding-bottom: 10px; }

.view-masonry .views-field-title a { font-size: 18px; margin: 0 0 10px 0; }

.view-masonry .more-link a { margin: 10px 0 0 0; text-align: left; }

/*News in images view*/
.view-images .views-row { margin-bottom: 30px; }

/*View tweets block*/
.view-tweets .views-row { margin: 0 0 35px 0; }

.view-tweets .views-row-last { margin-bottom: 20px; }

.view-tweets .views-field-created-time { display: block; color: #7d7d7d; margin: 15px 0 0 0; font-size: 12px; }

.header-area .view-tweets .views-field-created-time, .pre-header-area .view-tweets .views-field-created-time,
.header-top-area .view-tweets .views-field-created-time { color: #fff }

.view-tweets .views-field-created-time em { font-style: normal; }

/*Archive view*/
.view-archive .views-summary { margin: 0; padding: 0; color: #7d7d7d; border-bottom: 1px solid #dddddd; }

.view-archive .views-summary a { padding: 10px 3px 10px 0; display: inline-block; }

/*items list*/
.item-list ul { list-style: none; padding: 0; margin: 0; }

.item-list ul li { margin: 0; padding: 0; border-bottom: 1px solid #dddddd; }

.item-list ul li.last { border-bottom: none; }

.item-list ul li a { padding: 10px 3px 10px 0; display: inline-block; }

/*Social bookmarks & brands blocks*/
ul.social-bookmarks, ul.brands { list-style: none; margin:0; padding:0; }

ul.social-bookmarks li, ul.brands li { display: inline-block;  margin: 4px 10px 4px 0; }

ul.social-bookmarks li:first-child, ul.brands li:first-child { margin-left: 0!important; }

ul.social-bookmarks li a, ul.brands li a { color: #909599; display: block; width: 45px; height: 45px; text-align: center; border: 2px solid #c5c5c5; }

ul.social-bookmarks li i, ul.brands li i { width: 100%; height: 100%; font-size: 23px; line-height: 42px; }

ul.social-bookmarks li a:hover, ul.brands li a:hover { text-decoration: none; background-color: #282828; color: #ffffff; border: 2px solid #282828; }

ul.social-bookmarks.large li, ul.brands.large li { margin: 0px 20px 20px 0; }

ul.social-bookmarks.large li a, ul.brands.large li a { width: 90px; height: 90px; }

ul.social-bookmarks.large li a i, ul.brands.large li a i { font-size: 46px; line-height: 90px;  }

.header-area ul.social-bookmarks li, .header-area ul.brands li { margin: 0 10px 0 0; }

.header-area ul.social-bookmarks li i, .header-area ul.brands li i { line-height: 56px; }

.header-area ul.social-bookmarks li a,.header-area ul.brands li a { color: #ffffff; display: block; width: 50px; height: 48px; text-align: center; border: none; }

.header-area ul.social-bookmarks li a:hover, .header-area ul.brands li a:hover { background-color: #ea2d49; }

.header-top-area ul.social-bookmarks li a,.header-top-area ul.brands li a,
.pre-header-area ul.social-bookmarks li a,.pre-header-area ul.brands li a { color: #ffffff;  border: 2px solid transparent; }

.header-top-area ul.social-bookmarks li a:hover,.header-top-area ul.brands li a:hover,
.pre-header-area ul.social-bookmarks li a:hover,.pre-header-area ul.brands li a:hover { border: 2px solid #ffffff; background-color: transparent; }

/*User social boomarks*/
ul.user-social-bookmarks { list-style: none; margin:0; padding:0; }

ul.user-social-bookmarks li { display: inline-block;  margin: 15px 6px 15px 0; }

ul.user-social-bookmarks li a { color: #909599; display: block; width: 35px; height: 35px; text-align: center; border: 2px solid #c5c5c5; }

ul.user-social-bookmarks li i { width: 100%; height: 100%; font-size: 20px; line-height: 33px; }

ul.user-social-bookmarks li a:hover { color: #ea2d49; border-color: #ea2d49; }

/*Navigation search bar*/
.navigation-social-bookmarks { position: relative; }

.navigation-social-bookmarks .social-bookmarks { z-index: 21; position: relative; display: inline-block; }

.dropdown.search-bar { position: absolute; width: 100%; text-align: right; top: 0; z-index: 20; }

.dropdown.search-bar .trigger { font-size: 18px; display: inline-block; padding: 0 10px 0 10px; text-decoration: none; line-height: 54px; height: 54px; color: #fff; }

.dropdown.search-bar .trigger:after { content: "\f002"; font-family: "FontAwesome"; }

.dropdown.search-bar.open .trigger:after { content: "\f00d"; font-size: 22px; }

.dropdown.search-bar .dropdown-menu { right: 0; margin: 0; box-shadow: none; border-radius: 0; padding: 10px; border-color: #dddddd; background-color: #f8f8f8; }

/*Node teaser image overlay*/
.overlayed-teaser { position: relative; display: block; overflow: hidden; float: left; max-width: 100%; }

.overlayed-teaser:hover a { text-decoration: none; }

.overlayed-teaser a:before { content: ""; position: absolute; bottom: 0px; left: 0; right: 0; top: 0; height: 100%; width: 100%; opacity: 0;
filter: alpha(opacity=0); background-color: #ea2d49; background-color: rgba(234,45,73,0.3); z-index: 2;
webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear;
 -ms-transition: opacity linear 0.2s; transition: opacity 0.2s linear; }

.overlayed-teaser a:after { position: absolute; bottom: 0; right: 0; left: auto; font-size: 18px; color: #ffffff; text-align: center;
width: 40px; height: 40px; background-color: #ea2d49; font-family: "FontAwesome"; content: "\f0c1"; line-height: 42px; z-index: 3;  opacity: 0;
filter: alpha(opacity=0); -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s;
 -ms-transition: all linear 0.2s; transition: all linear 0.2s; }

.overlayed-teaser a:hover:after, .overlayed-teaser a:hover:before { opacity: 1; filter: alpha(opacity=100); text-decoration: none; }

/*More links*/
.more-link { text-align: center; clear: both; }

.more-link a { margin: 15px 0px 10px; display: block; padding:0; font-size: 14px; }

.more-link a:after { content: " \f101"; font-family: 'FontAwesome'; font-style: normal; font-size: 12px; }

.footer-area .more-link { text-align: left; }

.footer-area .more-link a { margin-top: 0; }

.sidebar .more-link { border-bottom: 6px solid #ebebeb; margin-bottom: 5px; }

.sidebar .more-link a { margin-top: 5px; }

/*Tabs*/
.item-list ul.quicktabs-tabs, .nav-tabs { border-bottom: 3px solid #ea2d49; margin: 10px 0 20px 0; }

.item-list ul.quicktabs-tabs > li, .nav-tabs > li { float: left; margin-bottom: 0; padding: 0; margin-left: 0; border-bottom: none; }

.item-list ul.quicktabs-tabs > li > a, .nav-tabs > li > a { margin-right: 2px; padding: 10px 20px; display: block;
text-transform: uppercase; color: #464646; border-radius: 0; -webkit-transition: none; -moz-transition: none; -ms-transition: none;
-o-transition: none; transition: none; font-size: 14px; background-color: #dadada; position: relative;
border: 1px solid #fff; border-top: 1px solid #dadada; border-bottom: 3px solid #fff; }

.nav-tabs li a i { padding-right: 10px; font-size: 20px; }

.item-list ul.quicktabs-tabs > li > a:hover,
.nav-tabs > li > a:hover { border-color: #ea2d49; background-color: #ea2d49; text-decoration: none; color: #fff; }

.item-list ul.quicktabs-tabs > li.active > a,
.nav-tabs > li.active > a,
.item-list ul.quicktabs-tabs > li.active > a:hover,
.nav-tabs > li.active > a:hover { cursor: default; background-color: #ea2d49; border: 1px solid #ea2d49; color: #ffffff; border-bottom: 3px solid #ea2d49; }

.item-list ul.quicktabs-tabs:after { display: table; content: " "; clear: both; }

@media (min-width: 481px) {
	.item-list ul.quicktabs-tabs > li.active > a:after,
	.nav-tabs > li.active > a:after { content: "\f0d7"; font-family: "FontAwesome"; position: absolute; bottom: -18px; text-align: center; width: 100%;
	left: 0; color: #ea2d49; font-size: 20px; line-height: 20px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.one-sidebar .sidebar .item-list ul.quicktabs-tabs > li > a, .one-sidebar .sidebar .nav-tabs > li > a { padding: 10px 15px; }
}

@media (min-width: 992px) {
	/*styles of sidebar tabs for 3-6-3 layout*/
	.two-sidebars.wide-sidebar .sidebar .item-list ul.quicktabs-tabs > li > a,
	.two-sidebars.wide-sidebar .sidebar .nav-tabs > li > a { padding: 10px; font-size: 11px; }

	/*styles of sidebar tabs for 2-6-4 & 4-6-2 layouts*/
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .item-list ul.quicktabs-tabs,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .nav-tabs { border-bottom: none; margin: 0 0 20px 0; }

	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .item-list ul.quicktabs-tabs > li,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .nav-tabs > li { float: none; }

	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .item-list ul.quicktabs-tabs > li > a,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .nav-tabs > li > a { margin-right: 0; margin-bottom: 2px; border: 1px solid #fff; }

	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .item-list ul.quicktabs-tabs > li.active > a:after,
	.two-sidebars.narrow-sidebar .col-md-2 .sidebar .nav-tabs > li.active > a:after { content: ""!important; }
}

@media (min-width: 1200px) {
	/*styles of sidebar tabs for 3-6-3 layout*/
	.two-sidebars.wide-sidebar .sidebar .item-list ul.quicktabs-tabs > li > a,
	.two-sidebars.wide-sidebar .sidebar .nav-tabs > li > a { padding: 10px 15px; }
}

@media (max-width: 480px) {
	.item-list ul.quicktabs-tabs, .nav-tabs { border-bottom: none!important; margin-bottom: 30px; }
	.item-list ul.quicktabs-tabs > li, .nav-tabs > li { width: 100%; margin: 0 0 5px 0; }
	.item-list ul.quicktabs-tabs > li > a, .nav-tabs > li > a { text-align: center; border-bottom: none!important; }
}

/*Accordion*/
.panel-group { margin: 25px 0; }

.panel-group .panel { -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }

.panel-default > .panel-heading { padding: 0; outline:none; border: none;
-webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; width: 100%; }

.panel-title a { font-weight: 400; padding: 15px; display: inline-block; width: 100%; background-color: #ea2d49; color: #ffffff; font-size: 14px;
text-transform: uppercase; }

.panel-title a.collapsed { color: #3f3f3f; background-color: #dadada; }

.panel-heading a:hover { text-decoration: none; background-color: #ea2d49; color: #ffffff; }

.panel-title a i { padding-right: 10px; font-size: 20px; }

/*progress bars*/
.progress { background-color: #e5e5e5; border-radius: 0; box-shadow: none; }

/*Tables*/
table { border-collapse: collapse; width:100%; color: #000000; margin: 25px 0 40px; }

table th { font-size: 16px; text-transform: uppercase; border: 1px solid #fff; background-color: #c0273c; color: #ffffff; font-weight: 400; }

table th a, table th a:hover { color: #fff; }

table th, table td { vertical-align: top; padding:10px 20px; text-align:left; }

table td { border:1px solid #fff; }

table tr.even, table tr.odd  { border-bottom: 1px solid #fff; background:#e4e4e4; font-size: 14px; }

/*Main Slider*/
.flexslider { border:none; margin:0; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0;
box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; display:none; }

/*caption*/
#top-content .flexslider .caption { padding-left: 15px; padding-right: 15px; }

.flexslider .caption h1 { font-size: 36px; margin-bottom: 10px; }

.flexslider .slide-info { color: #7d7d7d; }

.flexslider .slide-info-item { display: inline-block; margin-right: 25px; margin-bottom: 5px; font-size: 11px; }

.flexslider .slide-info-item i { margin-right: 5px; }

@media (min-width: 992px) {
	.sidebar-first .flexslider .caption { padding-right: 15px; }
	.sidebar-second .flexslider .caption { padding-left: 15px; }
}

@media (max-width: 991px) {
	.flexslider .caption { padding-right: 15px; padding-left: 15px; }
}

/* Direction Nav */
.flex-direction-nav a  { width: 40px; height: 40px; margin: 0; top: 0%; color: #ea2d49; text-shadow: none; background-color: #fff; }

.flex-direction-nav .flex-prev { left: auto; right: 40px; text-align: center; }

.flex-direction-nav .flex-next { right: 0; text-align: center; }

.flexslider:hover .flex-prev { opacity: 0.7; left: auto; right: 40px; }

.flexslider:hover .flex-next { opacity: 0.7; right: 0; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { color: #fff; background-color: #ea2d49; text-decoration: none; }

.flex-direction-nav a:before  { font-family: "FontAwesome"; font-size: 26px; display: inline-block; content: '\f104'; line-height: 40px; }

.flex-direction-nav a.flex-next:before  { content: '\f105'; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 0; left: auto; right: 40px; }
  .flex-direction-nav .flex-next { opacity: 0; right: 0;}
}

/* Control Nav */
.flex-control-nav { text-align: left; left: 12px; bottom: auto; top:15px; z-index: 2; opacity: 0; filter: alpha(opacity=0); width: auto; }

.flexslider:hover .flex-control-nav { opacity: 1; filter: alpha(opacity=100); }

.flex-control-nav li {margin: 0 3px; }

.flex-control-paging li a { background: #fff; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0;
opacity: 0.75; filter: alpha(opacity=75); -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none; box-shadow: none; }

.flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color: #ea2d49; opacity: 0.9; filter: alpha(opacity=90); }

/*Internal banner*/
#internal-banner-slider .slides>li { position: relative; }

#internal-banner-slider.one-value .slides > li { display: block; }

/*Banner caption*/
.banner-caption { position: absolute; width: 490px; background-color: rgba(255,255,255,0.8); bottom: 33%; left: 0; padding: 25px 25px 25px 80px; color: #252525; }

.one-value .banner-caption { bottom: 7%; }

.banner-caption .caption-title { font-size: 25px; margin-bottom: 5px; }

.banner-caption:after { position: absolute; content: "\f030"; font-family: "FontAwesome"; top: 50%; font-size: 22px; left: 29px; line-height: 1; margin-top: -10px; }

@media (max-width: 991px) {
	.banner-caption { width: 460px; padding: 15px 15px 15px 60px; bottom: 7%; }
	.banner-caption:after {font-size: 18px; left: 19px; left: 21px; margin-top: -7px; }
	.banner-caption .caption-title { font-size: 20px; }
}

@media (max-width: 767px) {
	.banner-caption .caption-title { margin-bottom: 0; }
}

@media (max-width: 480px) {
	.banner-caption, .one-value .banner-caption { width: 100%; bottom: 0; }
}

/*Internal banner carousel*/
#internal-slider-carousel { padding: 15px 75px 15px; margin-top: -142px; background-color: rgba(255,255,255,0.25); position: relative; z-index: 2; }

#internal-slider-carousel .flex-viewport { z-index: 2; }

#internal-slider-carousel ul.slides>li { margin-right: 4.8px; border: 2px solid rgba(255,255,255,0.5); cursor: pointer; webkit-box-sizing: content-box;
-moz-box-sizing: content-box; box-sizing: content-box; }

#internal-slider-carousel ul.slides>li.flex-active-slide { border-color: #ea2d49; cursor: default; }

#internal-slider-carousel ul.slides>li:hover { border-color: #ea2d49; }

@media (min-width: 1200px) {
	#internal-slider-carousel ul.slides>li { height: 108px; }
}

@media (max-width: 1199px) {
	#internal-slider-carousel { padding: 15px 65px; margin-top: -122px; }
}

@media (max-width: 991px) {
	#internal-slider-carousel { padding: 15px 54px; margin-top: 0; }
}

@media (max-width: 767px) {
	#internal-slider-carousel { padding: 15px 5px; }
	#internal-slider-carousel ul.slides>li { border: 2px solid rgba(210,210,210,0.5); }
}

/* Direction Nav */
#internal-slider-carousel .flex-direction-nav a  { width: 70px; height: 100%; margin: 0; bottom: 0; color: #3f3f3f; }

#internal-slider-carousel .flex-direction-nav a:hover { color: #ffffff; opacity: 1; filter: alpha(opacity=100); }

#internal-slider-carousel .flex-direction-nav .flex-prev,
#internal-slider-carousel .flexslider:hover .flex-prev { left: 0; right: auto; text-align: center; opacity: 0.5; filter: alpha(opacity=50); }

#internal-slider-carousel .flex-direction-nav .flex-next,
#internal-slider-carousel .flexslider:hover .flex-next { right: 0; text-align: center; opacity: 0.5; filter: alpha(opacity=50); }

#internal-slider-carousel .flex-direction-nav a:before  { font-size: 48px; position: absolute; top: 50%; left: 50%; }

#internal-slider-carousel .flex-direction-nav a.flex-next:before  { margin: -21px 0 0 -8px; }
#internal-slider-carousel .flex-direction-nav a.flex-prev:before  { margin: -21px 0 0 -9px; }

#internal-slider-carousel .flex-direction-nav .flex-disabled,
#internal-slider-carousel .flex-direction-nav .flex-disabled:hover { color: #c7c7c7; opacity: 0.5!important; filter: alpha(opacity=50)!important;
background-color: #ffffff; }

@media (max-width: 1199px) {
	#internal-slider-carousel .flex-direction-nav a  { width: 60px; }
}

@media (max-width: 991px) {
	#internal-slider-carousel .flex-direction-nav a  { width: 49px; }
}

@media (max-width: 767px) {
	#internal-slider-carousel { margin-bottom: 40px; }
	#internal-slider-carousel .flex-direction-nav { position: absolute; bottom: -40px; width: 100%; height: 40px; left: -5px; }
	#internal-slider-carousel .flex-direction-nav a  { width: 40px; height: 40px; border: 2px solid #ea2d49; color: #ea2d49; }
	#internal-slider-carousel .flex-direction-nav .flex-prev { left: 12px; }
	#internal-slider-carousel .flex-direction-nav .flex-next { right: 2px; }
	#internal-slider-carousel .flex-direction-nav .flex-disabled { border: 2px solid #c7c7c7; color: #c7c7c7; }
}

/*fixed main-menu*/
#header { position: static; top: -70px; }

.onscroll #header { position:fixed; z-index:499; top:0; width: 100%; -webkit-transition: top 0.5s ease-in-out; -moz-transition: top 0.5s ease-in-out;
-o-transition: top 0.5s ease-in-out; -ms-transition: top 0.5s ease-in-out; transition: top 0.5s ease-in-out; }

#navigation-site-name { display: none; }

@media (min-width: 1200px) {
	.fixed-header-enabled #navigation-site-name { position: absolute; top: 0; left: 20px; z-index: -1; font-size: 18px; padding: 13px 0px 8px; }
	.fixed-header-enabled #navigation-site-name a { color: #ffffff; }
	.fixed-header-enabled.onscroll #navigation-site-name { display: block; }
}

@media (max-width: 991px) {
	.onscroll #header-inside-right { display: none; }
}

/*maintenance-page*/
.maintenance-page #header { min-height: 54px; }

.maintenance-page #footer { border: none; }

.maintenance-page #page-inside { padding-bottom: 70px; }

/* Commerce */
.field-name-commerce-price, .field-type-commerce-price, .views-field-commerce-price { margin:5px 0; font-size: 18px; }

.view-promoted-posts .views-field-commerce-price, .view-services .views-field-commerce-price { font-size:18px; margin:5px 0 15px 0; }

.node .field-name-commerce-price { font-size: 26px; margin: 25px 0 5px; }

.view-commerce-cart-block td.views-field-line-item-title,
.view-commerce-cart-form td.views-field-line-item-title,
.view-commerce-cart-summary td.views-field-line-item-title,
.view-commerce-line-item-table td.views-field-line-item-title { font-weight:normal; }

.view-commerce-cart-form table, .view-commerce-cart-summary table, .view-commerce-line-item-table table,
.view-commerce-cart-form tbody, .view-commerce-cart-summary tbody, .view-commerce-line-item-table tbody,
.view-commerce-cart-form tr, .view-commerce-cart-summary tr, .view-commerce-line-item-table tr,
.view-commerce-cart-form table td, .view-commerce-cart-summary table td,
.view-commerce-line-item-table table td { padding:10px 15px; vertical-align:middle; margin:10px 0; }

.view-commerce-cart-form table td input.form-text { height: 31px; }

.view-commerce-cart-block table, .view-commerce-cart-block tbody, .view-commerce-cart-block tr, .view-commerce-cart-block table td,
.view-commerce-cart-block table th { padding: 10px; margin:0; }

/* Commerce product page */
.commerce-add-to-cart .form-item-quantity { display: inline-block; padding: 0 15px 0 0; margin: 0 0 20px; }

.commerce-add-to-cart .form-item-quantity label { font-weight:400; font-size: 18px; }

.commerce-add-to-cart .form-item-quantity input.form-text { width:80px; text-align:right; font-size: 15px; }

/* Commerce cart block */
.view-commerce-cart-block .line-item-total, .block-commerce-cart .line-item-quantity { padding:15px 5px 5px; margin-bottom: 15px; border-bottom: 1px solid #c2c2c2; }

.view-commerce-cart-block ul.links li { padding: 0; }

/* Commerce page-cart */
.page-cart .view-commerce-cart-form .line-item-summary { padding:10px 0; }

.page-cart .view-commerce-cart-form input.delete-line-item { padding:5px 10px; min-width: 0; }

/* Commerce page-checkout */
.page-checkout .view-commerce-cart-summary table.commerce-price-formatted-components tr { border:none; }

.page-checkout .checkout-help { margin-bottom:10px; }

#edit-checkout.form-submit { margin:0; }

/* Commerce page-review */
.page-checkout-review tr.pane-title { border:none; }

.page-checkout-review tr.pane-data td { border-top:none; }

.page-checkout-review tr.pane-title td { border-bottom:none; }

.commerce-paypal-icons .label { color: #3f3f3f; font-size: 16px; padding: 0 0 0 19px; margin-right: 5px; }

.commerce-paypal-icon { display:inline-block; top:0; }

/* Commerce page-user orders */
.view-commerce-user-orders table,
.view-commerce-user-orders table tbody,
.view-commerce-user-orders table tr,
.view-commerce-user-orders table td { border:none; }

.view-commerce-user-orders table tr { border-bottom: 1px solid #ddd; }

.view-commerce-user-orders table td.views-field-line-item-title { font-weight:bold; }

/* Commerce price formatted components */
.commerce-price-formatted-components td { padding-bottom:0; }

.entity-commerce-order .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount td { padding:10px; }

.commerce-price-formatted-components, .commerce-price-formatted-components tbody, .commerce-price-formatted-components tr, .commerce-price-formatted-components tr td { border:none; }

/* Drupal Resets */
#toolbar { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

#toolbar ul.menu li a { font-weight: 400; }

#toolbar ul.menu li > a:before, #toolbar ul.menu li:before { content: ""; }

a.contextual-links-trigger, #toolbar a, textarea, ul.contextual-links li a
{ -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none; }

ul.contextual-links li a { font-weight: 400; line-height: 1; text-decoration: none!important; }

/* Ad banner */
.ad-banner { text-align:center; padding:20px; background-color: rgba(0,0,0,0.20); }

/* Google Map */
#map-canvas { height: 400px; }

#map-canvas img { max-width: inherit; }

/*responsive typography*/
@media (max-width: 991px) {
    .view-highlighted-objects .views-field-title a { font-size: 19px; }

    p.large, .field-name-field-mt-subheader-body p, .view-popular-objects .views-field-title a { font-size: 17px; }

    #comments h2.title, .comment h3.title, .view-titles .more-link a, table th { font-size: 15px; }

	body, .view-titles .views-field-title a, #main-navigation ul.menu li a { font-size: 14px; }

	pre, .footer-area, .views-field-title a, input.form-text, textarea, .more-link a,
	.item-list ul.quicktabs-tabs > li > a, .nav-tabs > li > a, .panel-title a, table tr.even, table tr.odd, .banner-caption .caption-body { font-size: 13px; }

	.subfooter-area, .comment .field-name-comment-body, .views-field-field-mt-post-categories a, .image-caption p,
	a.button, input[type="submit"], input[type="reset"], input[type="button"] { font-size: 12px; }
}

@media (max-width: 767px) {
	.view-highlighted-objects .views-field-title a { font-size: 21px; }

    p.large, .field-name-field-mt-subheader-body p, .view-popular-objects .views-field-title a { font-size: 19px; }

	#comments h2.title, .comment h3.title, .view-titles .more-link a, table th { font-size: 16px; }

	body, .view-titles .views-field-title a, #main-navigation ul.menu li a { font-size: 16px; }

	pre, .footer-area, .views-field-title a, input.form-text, textarea, .more-link a,
	.item-list ul.quicktabs-tabs > li > a, .nav-tabs > li > a, .panel-title a, table tr.even, table tr.odd { font-size: 15px; }

	.subfooter-area, .comment .field-name-comment-body, .views-field-field-mt-post-categories a, .image-caption p,
	a.button, input[type="submit"], input[type="reset"], input[type="button"] { font-size: 14px; }
}

@media (max-width: 480px) {
	.view-highlighted-objects .views-field-title a { font-size: 19px; }

    p.large, .field-name-field-mt-subheader-body p, .view-popular-objects .views-field-title a { font-size: 17px; }

	#comments h2.title, .comment h3.title, .view-titles .more-link a, table th { font-size: 15px; }

	body, .view-titles .views-field-title a, #main-navigation ul.menu li a { font-size: 14px; }

	pre, .footer-area, .views-field-title a, input.form-text, textarea, .more-link a,
	.item-list ul.quicktabs-tabs > li > a, .nav-tabs > li > a, .panel-title a, table tr.even, table tr.odd { font-size: 13px; }

	.subfooter-area, .comment .field-name-comment-body, .views-field-field-mt-post-categories a, .image-caption p,
	a.button, input[type="submit"], input[type="reset"], input[type="button"] { font-size: 12px; }
}
